<h1>Giriş Sayfası</h1>

<form action="/giris" method="post">
<input type="text" name="username" placeholder="Kullanici Adı">
<input type="password" name="password" placeholder="Şifre">
<button>Giriş Yap</button>
</form>

<a href="/">Anasayfa</a>