<h1>Kayıt Sayfası</h1>

<form action="/kayitol" method="post">
<input type="text" name="username" placeholder="Kullanici Adı">
<input type="password" name="password" placeholder="Şifre">
<button>Üye Ol</button>
</form>

<a href="/">Anasayfa</a>